# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
.settings/*

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/default/ctools/*
sites/default/product_images/*
sites/default/styles/*
.idea/*
!/sites/default/backup_migrate/