@hover_color:#850207;

.c1icon{
  background: url("../images/c1icon.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 10px;
  overflow: hidden;
  text-align: left;
  text-indent: -50em;
  width: 10px;
}
.head{
  background: url(../images/top.jpg) repeat-x 0 0 transparent;
  height: 95px;

}
.site_name{
  float:left;
  margin-top:15px;
  .b{
    font-weight: bold;
    display: block;
    font-size: 32px;
    line-height: 36px;
  }
  .s{
    margin-top:10px;
    a{
      margin-right: 10px;
      font-size: 14px;
    }
  }
}
.nav{
  background: url(../images/nav.jpg) repeat-x 0 0 transparent;
  height: 45px;
  ul{
    display: block;
    li{
      display: block;
      a{
        display: block;
        color:white;
      }
    }
  }
  .li1{
    float:left;
    a{
      font-size: 14px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      width:111px;
      margin-right: 5px;
      cursor:pointer;
      &.hover,
      &:hover{
        background: url("../images/nava.jpg") no-repeat center bottom transparent;
      }
    }
  }
}
.slide {
  width:100%;
  height: 380px;
  overflow: hidden;
  position: relative;
  a{
    display: block;
    width:100%;
    height: 380px;
    background: url("") repeat-x center 0 transparent;
  }
  img{
    width:100%;
    height: 380px;
  }
  .cycle-pager{
    position: absolute;
    left:0;
    bottom:10px;
    text-align: center;
    width:100%;
    z-index: 150;
    span{
      display: inline-block;
      margin:0 5px;
      overflow: hidden;
      height: 13px;
      width:13px;
      background: white;
      border-radius: 6px;
      text-indent:-10em;
      cursor:pointer;
      &:hover,
      &.cycle-pager-active{
        background: #D11B1B;
      }
    }
  }
}
.footer{
  background: url(../images/foot.jpg) repeat-x center 0 transparent;
  padding:15px 0 20px 0;
  color:#666;
  line-height: 24px;
  text-align: center;
  a{
    color:#666;
    &:hover{
      color:@hover_color;
    }
  }
}
.content{
  background: url(../images/inmain.jpg) repeat-x center 0 transparent;
}
.pageside{
  float:left;
  width:310px;
}
.pagecon{
  width:660px;
  float:right;
}
.block-ktmodule{
  background: white;
  margin-top:25px;
  .block-title{
    font-size: 15px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    display: block;
    border-bottom:4px solid #00A779;
    color:#333;
    padding-left:15px;
  }
  .c{
    border:1px solid #d9d9d9;
    border-top:0;
    width:308px;
    ul{
      display: block;
    }
    li{
      display: block;
      height: 42px;
      line-height: 42px;
      padding:0 10px 0 14px;
      width:284px;
      overflow: hidden;
      border-bottom:1px dotted #d9d9d9;
      color:#696969;
      a{
        color:#696969;
        font-size: 12px;
        display: block;
      }
      &:hover{
        background: #820509;
        color:white;
        font-weight: bold;
        a{
          color:white;
          font-weight: bold;
        }
      }
      &:last-child{
        border-bottom:0;
      }
    }
  }
  .sidchxicc{
    .s2{
      display: none;
    }
    .active{
      position: relative;
      height: 116px;
      line-height: 20px;
      border-bottom-style: solid;
      background: #f2f2f2;
      .s1{
        display: none;
      }
      .s2{
        display: block;
      }
      .num{
        height: 19px;
        width:19px;
        line-height: 19px;
        position: absolute;
        margin:0;
        top:13px;
        left:13px;
        background: #00a779;
      }
    }
    .num{
      display: block;
      float:left;
      margin:13px 6px 0 0;
      height: 15px;
      width:15px;
      font-family: "arial";
      text-align: center;
      line-height: 15px;
      color:white;
      background:#ff8e00;
    }
    img{
      display: block;
      float:left;
      height: 71px;
      width: 95px;
      margin:15px 0 0 1px;
    }
    .tp{
      color: #ff4e00;
      float: left;
      height: 74px;
      margin: 15px 0 0 15px;
      width: 165px;
      a{
        display: block;
        float: left;
        height: 40px;
        overflow: hidden;
        width: 100%;
      }
      span{
         display: block;
        float: left;
        margin-top: 14px;
      }
    }
  }
}
.search_box{
  background: #f2f2f2;
  height: 69px;
  float:left;
  width:100%;
  .s{
    margin:20px 0 0 20px;
    width:260px;
    border:1px solid #d9d9d9;
    background: white;
    height: 28px;
    position: relative;
    input{
      background: transparent;
      border:0;
      display: block;
      font-size: 12px;
      line-height: 14px;
      padding:7px 10px;
      width:235px;
    }
    .btn_form_search{
      display: block;
      position: absolute;
      width:14px;
      height: 14px;
      top:7px;
      right: 10px;
      cursor:pointer;
      background-position: -90px -35px;
    }
  }
}
#block-ktmodule-cycle2banner{
  margin:0;
}