.c1icon {
  background: url("../images/c1icon.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 10px;
  overflow: hidden;
  text-align: left;
  text-indent: -50em;
  width: 10px;
}
.head {
  background: url(../images/top.jpg) repeat-x 0 0 transparent;
  height: 95px;
}
.site_name {
  float: left;
  margin-top: 15px;
}
.site_name .b {
  font-weight: bold;
  display: block;
  font-size: 32px;
  line-height: 36px;
}
.site_name .s {
  margin-top: 10px;
}
.site_name .s a {
  margin-right: 10px;
  font-size: 14px;
}
.nav {
  background: url(../images/nav.jpg) repeat-x 0 0 transparent;
  height: 45px;
}
.nav .menu {
  display: block;
}
.nav .menu .menu__item {
  display: block;
}
.nav .menu .menu__item a {
  display: block;
  color: white;
}
.nav .menu__item {
  float: left;
}
.nav .menu__item a {
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 111px;
  margin-right: 5px;
  cursor: pointer;
}
.nav .menu__item a.active,
.nav .menu__item a:hover {
  background: url("../images/nava.jpg") no-repeat center bottom transparent;
}
.slide {
  width: 100%;
  height: 380px;
  overflow: hidden;
  position: relative;
}
.slide a {
  display: block;
  width: 100%;
  height: 380px;
  background: url("") repeat-x center 0 transparent;
}
.slide img {
  width: 100%;
  height: 380px;
}
.slide .cycle-pager {
  position: absolute;
  left: 0;
  bottom: 10px;
  text-align: center;
  width: 100%;
  z-index: 150;
}
.slide .cycle-pager span {
  display: inline-block;
  margin: 0 5px;
  overflow: hidden;
  height: 13px;
  width: 13px;
  background: white;
  border-radius: 6px;
  text-indent: -10em;
  cursor: pointer;
}
.slide .cycle-pager span:hover,
.slide .cycle-pager span.cycle-pager-active {
  background: #d11b1b;
}
.footer {
  background: url(../images/foot.jpg) repeat-x center 0 transparent;
  padding: 15px 0 20px 0;
  color: #666666;
  line-height: 24px;
  text-align: center;
}
.footer a {
  color: #666666;
}
.footer a:hover {
  color: #e21d2e;
}
.footertop {
  height: 49px;
  background: #ebebeb;
  line-height: 49px;
  margin-top: 30px;
}
.footertop .block-ktmodule {
  margin: 0;
  background: transparent;
}
.footertop a {
  color: #868686;
  font-size: 13px;
  padding: 0 6px;
}
.footertop a.lti {
  font-weight: bold;
  padding-left: 0;
}
.footertop a:hover {
  color: #e21d2e;
}
.content {
  background: url(../images/inmain.jpg) repeat-x center 0 transparent;
}
.pageside {
  float: left;
  width: 310px;
}
.pagecon {
  width: 660px;
  float: right;
}
.block-ktmodule {
  background: white;
  margin-top: 25px;
}
.block-ktmodule .block-title {
  font-size: 15px;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  display: block;
  border-bottom: 4px solid #00a779;
  color: #333333;
  padding-left: 15px;
}
.block-ktmodule .c {
  border: 1px solid #d9d9d9;
  border-top: 0;
  width: 308px;
}
.block-ktmodule .c ul {
  display: block;
}
.block-ktmodule .c li {
  display: block;
  height: 42px;
  line-height: 42px;
  padding: 0 10px 0 14px;
  width: 284px;
  overflow: hidden;
  border-bottom: 1px dotted #d9d9d9;
  color: dimgray;
}
.block-ktmodule .c li a {
  color: dimgray;
  font-size: 12px;
  display: block;
}
.block-ktmodule .c li:hover {
  background: #e21d2e;
  color: white;
  font-weight: bold;
}
.block-ktmodule .c li:hover a {
  color: white;
  font-weight: bold;
}
.block-ktmodule .c li:last-child {
  border-bottom: 0;
}
.block-ktmodule .sidchxicc .s2 {
  display: none;
}
.block-ktmodule .sidchxicc .active {
  position: relative;
  height: 124px;
  line-height: 20px;
  border-bottom-style: solid;
  background: #f2f2f2;
}
.block-ktmodule .sidchxicc .active .s1 {
  display: none;
}
.block-ktmodule .sidchxicc .active .s2 {
  display: block;
}
.block-ktmodule .sidchxicc .active .num {
  height: 19px;
  width: 19px;
  line-height: 19px;
  position: absolute;
  margin: 0;
  top: 23px;
  left: 13px;
  background: #00a779;
}
.block-ktmodule .sidchxicc .num {
  display: block;
  float: left;
  margin: 13px 6px 0 0;
  height: 15px;
  width: 15px;
  font-family: "arial";
  text-align: center;
  line-height: 15px;
  color: white;
  background: #ff8e00;
}
.block-ktmodule .sidchxicc img {
  display: block;
  float: left;
  height: 71px;
  width: 95px;
  margin: 25px 0 0 1px;
}
.block-ktmodule .sidchxicc .tp {
  color: #ff4e00;
  float: left;
  height: 74px;
  margin: 25px 0 0 15px;
  width: 165px;
}
.block-ktmodule .sidchxicc .tp a {
  display: block;
  float: left;
  height: 40px;
  overflow: hidden;
  width: 100%;
}
.block-ktmodule .sidchxicc .tp span {
  display: block;
  float: left;
  margin-top: 14px;
}
.search_box {
  background: #f2f2f2;
  height: 69px;
  float: left;
  width: 100%;
}
.search_box .s {
  margin: 20px 0 0 20px;
  width: 260px;
  border: 1px solid #d9d9d9;
  background: white;
  height: 28px;
  position: relative;
}
.search_box .s input {
  background: transparent;
  border: 0;
  display: block;
  font-size: 12px;
  line-height: 14px;
  padding: 7px 10px;
  width: 235px;
}
.search_box .s .btn_form_search {
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 7px;
  right: 10px;
  cursor: pointer;
  background-position: -90px -35px;
}
#block-ktmodule-cycle2banner {
  margin: 0;
}
.pagecon .block-ktmodule .c {
  width: auto;
}
.tjslide {
  height: 380px;
  overflow: hidden;
  margin: 20px 0;
  float: left;
}
.tjslide .item {
  float: left;
  width: 182px;
  margin-left: 28px;
}
.tjslide .item a {
  display: block;
  width: 182px;
  float: left;
  color: dimgray;
  margin-bottom: 10px;
}
.tjslide .item a:hover {
  background: #e21d2e;
}
.tjslide .item a:hover .imgt {
  color: white;
}
.tjslide .item .imgw {
  display: block;
  width: 162px;
  height: 122px;
  margin: 10px 0 0 10px;
}
.tjslide .item .imgw img {
  width: 162px;
  height: 122px;
}
.tjslide .item .imgt {
  display: block;
  padding: 10px 20px;
  height: 32px;
  line-height: 16px;
  text-align: center;
  overflow: hidden;
}
.blkcomintrocc .introcw {
  margin: 25px;
  float: left;
  font-size: 14px;
  color: dimgray;
  line-height: 23px;
}
.blkcomintrocc .introcw p {
  font-size: 14px;
  color: dimgray;
  line-height: 23px;
}
.blkcomintrocc .introcw .comimg {
  margin: 0 0 5px 10px;
  width: 300px;
  float: right;
}
.blkzxgy .tjslide {
  height: 300px;
}
.blkzxgy .tjslide .item {
  position: relative;
  width: 279px;
}
.blkzxgy .tjslide .item .imgw {
  margin: 0;
  width: 279px;
  height: 209px;
}
.blkzxgy .tjslide .item .imgw img {
  width: 279px;
  height: 209px;
}
.blkzxgy .tjslide .item .imgt {
  width: 279px;
  height: 91px;
  background: #333333;
  padding: 0;
}
.blkzxgy .tjslide .item .imgt h4 {
  font-size: 15px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  color: white;
  text-align: left;
  margin: 9px 15px 0 15px;
}
.blkzxgy .tjslide .item .imgt .des {
  color: #b6b6b6;
  display: block;
  height: 40px;
  text-align: left;
  line-height: 20px;
  margin-left: 14px;
  overflow: hidden;
  width: 250px;
}
.blkzxgy .tjslide .item.hover .ibg,
.blkzxgy .tjslide .item:hover .ibg {
  display: block;
}
.blkzxgy .tjslide .item.hover .ibg.bgt,
.blkzxgy .tjslide .item:hover .ibg.bgt {
  background: transparent;
}
.blkzxgy .tjslide a {
  width: 279px;
}
.blkzxgy .ibg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 279px;
  height: 300px;
  z-index: 15;
}
.blkzxgy .ibg.bgb {
  background: #ff8e00;
  opacity: 0.7;
}
.blkzxgy .ibg.bgt {
  display: none;
  z-index: 20;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 300px;
  cursor: pointer;
}
.procatecc {
  height: 420px;
}
.blkcomintrocc {
  height: 385px;
}
.blkcomintrocc .introcw {
  height: 326px;
  overflow: hidden;
}
