.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  margin: 0 auto;
}
.page.active {
  display: block;
}
.page .content {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
